:root{
    --main-bg-color:#264027;
    --sub-bg-color:#3C5233;
    --body-bg-color:#B38A58;
}
body{
    display:flex;
    flex-direction: column;
    color:white;
    
}
header{
    display:flex;
    width:100%;
    font-family: "Borel", cursive;
}

#top-nav{
    background-color: var(--main-bg-color);
    width:80%;
} 
#logo-box{
    background-color:var(--sub-bg-color);
    width:20%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.nav-bar{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
  list-style-type: none;
}
.nav-link:hover{
    color:#B38A58;
}

#app{
    background-color: #d4d4d4; /**#0D1F22*/
    width:100%;
    height:1000px; /*alter*/
    display:flex;
    align-items: center;
    flex-direction: column;
}

#og-post{
    border: 1px solid black;
    height:35%;
}
#og-post > p{
    padding:1%;
    font-size: 20pt;
}

#user-info{
    width:60%;
    border: 1px solid black;
    display:flex;
}
#profile-pic{
    height:100px;
}

#form{
    text-align:center;
}

#subject-info{
    border: 1px solid black;
    text-align:right;
    width:40%;
    height:40%;
    padding-right:5%;
}
#heading{
    width:100%;
    height:40%;
    display:flex;
}